@charset "UTF-8";

.config {
  cursor: pointer;
  font-size: 0.8em;
  z-index: 9999;
  position: fixed;
  top: 5px;
  right: 23px;
  border: 0;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
}

.conf {
  font-size: 100%;
  padding: 10px;
  text-align: center;
  font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
  margin: 0;
  color: #fff;
  font-size: 1.1em;
  background: #106eaf;
  background-image: url(img/bg.png);
  height: 100vh;
}

.conf * {
  box-sizing: border-box;
}

.conf kbd {
  display: inline-block;
  background-color: #fff;
  min-width: 39px;
  height: 39px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: #7c7c7c;
  box-shadow: 0px 4px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px 0px rgba(169, 169, 169, 1);
  padding: 13px 4px 0 4px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}

.conf table {
  width: 90vw;
  margin: auto
}

.conf td,th {
  border: 1px solid #555;
  font-family: Verdana, Tahoma, Georgia, sans-serif;
  font-size: 1.2em;
  padding: 2px 8px 2px 8px
}

.conf td {
  color: #000;
  font-size: 80%;
}

.conf th {
  background-color: #ab1f4d
}

.conf tr:nth-of-type(2n) {
  background-color: #a7dcea
}

.conf tr:nth-of-type(2n+1) {
  background-color: #5abeea
}

.conf h1 {
  font-size: 2em;
}

.conf .ex {
  text-align: center;
}

.conf #ex2 {
  font-size: 1.5em
}
