@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
  color:#fff;
  margin:0;
  padding:0;
  font-size:1.1em;
  background:#96D8FB;
  background-image: url(img/bg.png);
  height:100vh;
}
.cont{
  width:100%;
  height:100%;
  overflow:auto;
  padding: 0 20px 0px 20px;
  background-color:rgba(0,0,0,0.15);
}
header,article,footer,nav {
  border-radius:10px;
  margin-top: 20px;
}
header,footer{
    padding: 30px;
    text-align: center;
	background-color:rgba(0,0,0,0.3);
}
.left{   
    float: left;
    width: 75%;
}
aside article, aside, nav{
  text-align:center;
}
article {
  padding: 1px 20px 20px 20px;
}
nav {
  padding: 10px 0px 10px 0px;
}
nav a { padding-left:17px;padding-right:17px  }
nav a:hover { color:#bfe7fb }

article:nth-of-type(2n),nav{
  background-color:rgba(255, 255, 255,0.1);
}
article:nth-of-type(2n+1){
  background-color:rgba(0, 0, 0,0.1);
}
aside {
  float: left;
  width: 25%;
  padding-left: 20px;
}
footer {
  padding: 20px;
  text-align: center;
}
h1,th,body {
  color:#fff
}
td, th, h1, .conf, kbd, .graph {
  text-align:center;
}
td,th {
  border: 1px solid #fff;
  padding: 2px 8px 2px 8px
}
a,.bof {
  color:#ffcc66;
  text-decoration:none;
}

h1 {
  font-size: 2em;
}
h2 {
margin-top:20px
}
h4 {
  color:#CEECF5;
  font-style:italic
}
code {
  font-size:1.3em;
  color:#ee8
}
header img {
  height:20vh
}


q {
color:#ccffff;
}
q:before{
content:"« "
}
q:after{
content:" »"
}

img {
  vertical-align:middle
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 800px) {
    .left, aside {   
        width: 100%;
        padding: 0;
    }
}

.button {
  display:inline-block;
  width:150px;
  height:2em;
  line-height:2em;
  font-size: 1em;
  background-color:#333;
  text-decoration:none;
  text-align:center;
}

.nope{
color:#ff8080;
}
.oui {
color:#99ff99;
}

kbd{
  display: inline-block;
  background-color: #fff;
  min-width: 39px;
  height: 39px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  box-sizing: border-box !important;
  color: #7c7c7c;
  box-shadow: 0px 4px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
  padding-top: 13px;
  font-size: 12px;
  font-family: Arial;
  font-weight:bold
}
textarea {
  width: 70%;
  height: 150px;
  border:1px solid #000;
  color:#888;
  font-size:0.9em;
  font-family:sans-serif;
}
textarea:focus {
  color:#000
}
.brouillache {
  unicode-bidi: bidi-override;
  direction: rtl;overflow-wrap: break-word;
white-space: nowrap;
}
.brouillache span {
  display:none;
}
textarea {

}

/* PAGE GRAPHIES */
.graph{
  color:#000;
  background-color:#0d719e !important
}
.graph u {
  color:#f00
}
table {
  width:90vw;
  margin:auto
}
td,th {
  border:1px solid #555;
  font-family: "Acto Book",Verdana,Tahoma,Georgia,sans-serif;
  font-size:1.2em;
  padding:4px
}
th {
  background-color:#ab1f4d
}
tr:nth-of-type(2n) {
  background-color:#a7dcea
}
tr:nth-of-type(2n+1) {
  background-color:#5abeea
}
.d{
  background-color:#f777a1;
  color:#333
}
.g{
  background-color:#0d719e;
  border:0
}
