@charset "UTF-8";
html{
  font-size:100%;
}
body {
  font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
  color: #fff;
  margin: 50px;
  padding: 0;
  background: #106eaf;
  font-size: 20px;
}
code {
	color: #FF0;
	font-weight: bold;
}
*{
  box-sizing: border-box; 
}
p {
  padding:2px
}
textarea{
	border: 3px solid #000;
	width:80%;
	height: 200px;
	font-size: 16px;
}
div:first-child {
	text-align: center;
}
kbd{
  display: inline-block;
  text-align:center;
  background-color: #fff;
  min-width: 39px;
  height: 39px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: #7c7c7c;
  box-shadow: 0px 4px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
  padding: 10px 5px 0 5px;
  font-size: 16px;
  font-family:verdana;
  font-weight:bold
}