@charset "UTF-8";

body {
  font-size: 100%;
  padding: 10px;
  text-align: center;
  font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif;
  margin: 0;
  color: #fff;
  font-size: 1.1em;
  background: #106eaf;
  height: 500px;
  width: 500px;
}

* {
  box-sizing: border-box;
}

kbd {
  display: inline-block;
  background-color: #fff;
  min-width: 39px;
  height: 39px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: #7c7c7c;
  box-shadow: 0px 4px 0px -2px rgba(255, 255, 255, 1), 0px 2px 0px 0px rgba(169, 169, 169, 1);
  padding: 13px 4px 0 4px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}

table {
  width: 480px;
  margin: auto
}

td,th {
  border: 1px solid #555;
  font-family: Verdana, Tahoma, Georgia, sans-serif;
  font-size: 1.2em;
  padding: 2px 8px 2px 8px
}

td {
  color: #000;
  font-size: 80%;
}

th {
  background-color: #ab1f4d
}

tr:nth-of-type(2n) {
  background-color: #a7dcea
}

tr:nth-of-type(2n+1) {
  background-color: #5abeea
}

h1 {
  font-size: 2em;
}

.ex {
  text-align: center;
}

#ex2 {
  font-size: 1.5em
}
