@charset "UTF-8";

.confleia * {
  font-family: Arial, Tahoma, Verdana, Helvetica, Georgia, sans-serif;
}
.confleia {
  font-size: 100%;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
  height: 680px;
  width: 360px;
  overflow:hidden;
  font-size: 1.25em;
  line-height: 1.2em;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #f6f6f6;
  color: #0E5D96;
}

.confleia .label {
  display:block;
  position:relative;
  padding: 11px 10px 15px 10px;
  border-bottom: 1px dotted #106eaf 
}
.confleia .label:last-child {
  border:0
}
.confleia select {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 10px #E8E8E8 inset;
  font-size: 0.9em;
  padding: 10px;
  width:100%;
  text-align:center;
  margin: 11px 0 0 0;
  -moz-appearance: none;
  appearance: none; 
  cursor:pointer;
  transition: box-shadow .3s;
}
.confleia select:hover {
  box-shadow: 0 0 5px #0E5D96 inset;
}
.confleia .label:before{
  content:"";
  color: transparent;
  position:absolute;
  display:block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13.0px 7.5px 0 7.5px;
  border-color: #666 transparent transparent transparent;
  border-radius:4px;
  right:21px; 
  top:63px; 
  pointer-events:none;
}
.confleia .label:nth-of-type(3):before{
  content:"";
  border:0;
}
.confleia .label:hover:before {
  content:"";
  border-color: #0E5D96 transparent transparent transparent;
}
.confleia kbd {
  display: inline-block;
  background-color: #fff;
  width: 39px;
  height: 39px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: #222222;
  box-shadow: 0px 4px 0px -3px rgba(255, 255, 255, 1), 0px 2px 0px 0px rgba(169, 169, 169, 1);
  padding: 8px 4px 0 4px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  margin-top: 11px;
}
.confleia .xx {
  display:inline-block;
  width:95%;
  padding: 3px;
  margin-top:20px;
  background-color:#dfdfdf;
  color:#000;
}
.confleia #buttons {
  color:#000;
}
.confleia .leiasr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.leiahl {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display:inline-block;
  width:40px;
  padding:3px;
  cursor:pointer;
  margin-top:6px;
  margin-right:3px;
}

.emph1 {
  font-weight:bold;
}
.emph2 {
  color:#ffffff;
  text-shadow: -2px 0 2px #222, 0 2px 2px #222, 2px 0 2px #222, 0 -2px 2px #222;
}
.emph3 {
  opacity:0.4
}
.emph4 {
  color:#9400D3;
  text-shadow: -2px 0 2px #FFF, 0 2px 2px #FFF, 2px 0 2px #FFF, 0 -2px 2px #FFF;
}
.emph5 {
  background-color:#ffffff;
  padding-right:3px;
  color:#000000 
}
.emph6 {
  background-color:#000;
  padding-right:3px;
  color:#fff 
}
.emph7 {
  background-color:#318FFE;
  color:#ffffff;
  padding-right:3px
}
.emph8 {
  background-color:rgba(255,255,0,0.6);
  color:#000000 ;
  padding-right:3px;
}
.emph9 {
  text-decoration:underline
}
.emph10 {
  font-size:80%
}
.emph11 {
  text-decoration: wavy underline 
}
.emph12 {
  margin-left:7px
}